@{
    string currentPage = ViewContext.RouteData.Values["page"]?.ToString()?.ToLower();
}

<nav class="navbar fixed-top navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" asp-page="/Index">Anna.Dev</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ms-auto gap-3">
                <li class="nav-item">
                    <a class="nav-link @(currentPage == "/index" ? "active" : "")" asp-page="/Index">Início</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link" href="#projetos">Projetos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades">Habilidades Técnicas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contatos">Contato</a>
                </li>
                <li class="nav-item">
                    <button onclick="toggleTheme()" class="btn btn-primary">
                        Alternar Tema
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>